<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HobbyCourses-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>825B50AC1BF1774E00394CDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>825B50C81BF1774E00394CDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>825B50D31BF1774E00394CDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
